@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #A7A4A5;
  text-decoration: none;
}

a:hover {
  color: #cc9744;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.btn {
  border-radius: 5px;
}

.block__title {
  font-family: "Playfair Display", serif;
  font-size: calc(25px + 30 * (100vw - 400px) / 1920);
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
}

.section {
  padding: 5rem 0 7rem;
}

.catalog {
  position: relative;
}
.catalog__btn {
  background-color: transparent;
  color: #cc9744;
  border: 1px solid #cc9744;
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  padding: 0.7em 1.7em;
}
.catalog__btn:hover {
  color: #fff;
  background: linear-gradient(211deg, #C38B34 27.99%, #ECC47E 80.38%);
}
.catalog__bg-1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.catalog__bg-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.catalog .catalog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}
.catalog .catalog__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  padding: 0 0 0 40px;
  background-image: url(/img/card-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px 150px 0px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
.catalog .catalog__item .categ-link {
  display: block;
  margin-bottom: 7px;
  color: #fff;
  font-size: calc(12px + 4 * (100vw - 400px) / 1920);
}
.catalog .catalog__item .categ-link::before {
  content: "";
  background: linear-gradient(211deg, #C38B34 27.99%, #ECC47E 80.38%);
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 0.5rem;
}
.catalog .catalog__item .catalog__content {
  padding-top: 20px;
}
.catalog .catalog__item__title {
  font-size: calc(19px + 16 * (100vw - 400px) / 1920);
  font-family: "Playfair Display", serif;
  background: linear-gradient(211deg, #C38B34 27.99%, #ECC47E 80.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin-bottom: 20px;
}

@media (max-width: 830px) {
  .catalog .catalog__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    border-radius: 10px 108px 0px 10px;
    padding: 0 0 0 10px;
  }
}/*# sourceMappingURL=style4.css.map */